.menu{
    // display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.main-menu{
    list-style: none;
    padding: 1rem;
}
.main-menu-link{
    color: $black-color;
    padding: .5em .6em;   
    &:hover{
        border-bottom: 3px solid $black-color;
    }
}
.main-nav{
    position: fixed;
    top: $header-height;
    right: -60vw;
    height: calc(100vh - #{$header-height});
    width: 60vw;
    transition:right .3s;
    background-color: rosybrown;
    @include from(md){
        background-color: red;
    }
    //TODO: como funciona el anidamiento de la clase show
    &.show{
        right: 0;
    }
}
// .main-nav-view{
//     right: 0;
// }
.botton-scroll{
    $color:$gray-color;
    width: 2rem;
    height: 1.4rem;
    background: linear-gradient($color 20%,transparent 20%,transparent 40%, $color 40%,$color 60%, transparent 60%,transparent 80%,$color 80%);
    cursor: pointer;
}