.menu{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}
.main-menu{
    list-style: none;
    display: flex;    
}
.main-menu-link{
    color: black;
    padding: .5em .6em;   
    &:hover{
        border-bottom: 3px solid rgba(0, 0, 0, 0.39);
    }
}