:root {
  --z-back: -10;
  --z-normal:1;
  --z-tooltip:10;
  --z-fixed:100;
  --z-modal:1000; }

:root {
  --h1-font-size:2rem;
  --body-font-size:.9rem;
  --small-font-size:.75rem; }
  @media screen and (min-width: 720px) {
    :root {
      --h1-font-size:2.5rem;
      --body-font-size:1rem;
      --small-font-size:.8rem; } }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: var(--body-font-size); }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1 {
  font-size: var(--h1-font-size); }

.l-container {
  width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  margin-right: auto;
  margin-left: auto; }

.main-header {
  height: 4rem;
  background-color: orange;
  border-bottom: 1px solid rgba(73, 72, 72, 0.315);
  display: flex;
  align-items: center; }

.main-header-block {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.main-logo {
  height: 2rem; }

.menu {
  align-items: center;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 720px) {
    .menu {
      display: flex; } }

.main-menu {
  list-style: none;
  padding: 1rem; }

.main-menu-link {
  color: rgba(0, 0, 0, 0.719);
  padding: .5em .6em; }
  .main-menu-link:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.719); }

.main-nav {
  z-index: var(--z-modal);
  position: fixed;
  top: 4rem;
  right: -60vw;
  height: calc(100vh - 4rem);
  width: 60vw;
  transition: right .3s;
  background-color: rosybrown; }
  @media screen and (min-width: 720px) {
    .main-nav {
      position: static;
      height: auto;
      width: auto;
      background: transparent; } }
  .main-nav.show {
    right: 0; }

.botton-scroll {
  width: 2rem;
  height: 1.4rem;
  background: linear-gradient(rgba(49, 49, 49, 0.781) 20%, transparent 20%, transparent 40%, rgba(49, 49, 49, 0.781) 40%, rgba(49, 49, 49, 0.781) 60%, transparent 60%, transparent 80%, rgba(49, 49, 49, 0.781) 80%);
  cursor: pointer; }
  @media screen and (min-width: 720px) {
    .botton-scroll {
      display: none; } }

.main-banner {
  position: relative;
  --padding:4rem 1rem 5rem;
  --logo-height:8rem;
  padding: var(--padding);
  background: blueviolet;
  color: #fff;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%); }
  @media screen and (min-width: 720px) {
    .main-banner {
      --padding:5rem 0 6rem;
      --logo-height:12rem; } }
  .main-banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    opacity: .5; }
  .main-banner-content {
    position: relative; }
  .main-banner-logo {
    height: var(--logo-height);
    display: block;
    margin: 0 auto;
    clip-path: circle(40%); }
  .main-banner h1, .main-banner p {
    position: relative; }
